body {
    background-color: black;
  }
  
  .box1 {
    background: linear-gradient(to right, black, #858585, white);
    width: 350px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 30px;
    align-items: center;
  }
  
  .container {
    position: relative;
    display: inline-block;
    color: aliceblue;
  }
  
  h1 {
    font-size: 100px;
    color: aliceblue;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 400px;
    margin-left: 50px;
    width: 0;
    transition-duration: 2s;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(20, end) forwards, floating 3s ease-in-out infinite;
    z-index: 1;
    position: relative;
  }
  
  h1:hover {
    text-shadow:
      0 0 5px rgb(255, 189, 254),
      0 0 10px rgb(199, 144, 182),
      0 0 20px rgb(138, 85, 147),
      0 0 40px rgb(92, 21, 82),
      0 0 80px rgb(53, 0, 47);
  }
  

  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  

  